
.row {
  margin-top: 2%;
}

.battle {
  cursor: pointer;
}

.battle:hover {
  color: blue;
}

.bold {
  font-weight: bold;
}

.page {
  padding: 1%;
}

.search-container {
  width: 35%;
  margin-bottom: 20px;
}

.search-container input{
  width: 60%;
  display: inline;
}

.search-container button{
  width: 20%;
  margin-left: 10px;
}
