<div class="row">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-md-6">
          <div class="col-12">
            <p *ngFor="let battle of currentBattles" class="battle" (click)="getBattleDetails(battle)">
              {{battle.id}} | {{battle.name}}
            </p>

            <p *ngIf="currentBattles.length == 0">
              No battles here.
            </p>
          </div>

          <div class="col-12">
            <button class="btn btn-primary" (click)="previousPage()" [disabled]="currentPage==1">
              Previous
            </button>
            <span class="page">{{currentPage}}</span>
            <button class="btn btn-primary" (click)="nextPage()">
              Next
            </button>
          </div>
        </div>

        <div class="col-md-6" *ngIf="battleDetails">
          <p> <span class="bold">Battle No:</span> {{battleDetails.id}}</p>
          <p> <span class="bold">Battle Name:</span> {{battleDetails.name}}</p>
          <p> <span class="bold">Battle Year:</span> {{battleDetails.year}}</p>
          <p> <span class="bold">Attacker King:</span> {{battleDetails.attacker_king}}</p>
          <p> <span class="bold">Defender King:</span> {{battleDetails.defender_king}}</p>
          <p> <span class="bold">Attacker Outcome:</span> {{battleDetails.attacker_outcome}}</p>
          <p> <span class="bold">Battle Type:</span> {{battleDetails.battle_type}}</p>
          <p> <span class="bold">Attacker Size:</span> {{battleDetails.attacker_size}}</p>
          <p> <span class="bold">Defender Size:</span> {{battleDetails.defender_size}}</p>
          <p> <span class="bold">Attacker Commander:</span> {{battleDetails.attacker_commander}}</p>
          <p> <span class="bold">Defender Commander:</span> {{battleDetails.defender_commander}}</p>
          <p> <span class="bold">Location:</span> {{battleDetails.location}}</p>
          <p> <span class="bold">Region:</span> {{battleDetails.region}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
